---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Controls from '../components/Controls.astro';
import Download from '../components/Download.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Arma 3 Mod Manager Console">
  <main>
    <Hero />
    <Features />
    <Controls />
    <Download />
    <Faq />
  </main>
  <Footer />
</Layout>
